@import url(http://darksair.org/styles/latolatinfonts.css);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========== Main style =========================================> */

:root
{
    --color-bg: black;
    --color-fg: #ced6e0;
    --color-link: white;
    --color-block: #2f3542;
}

*
{
    box-sizing: border-box;
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

a
{
    color: var(--color-link);
    text-decoration: none;
}

a:hover
{
    color: var(--color-bg);
    background-color: var(--color-link);
}

nav
{
    height: 3em;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-block);
    padding: 10px;
}

h1#SiteTitle
{
    font-size: 120%;
    font-style: italic;
}

ul.VideoList
{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 32px;
}

li.VideoListItem
{
}

.ThumbnailWrapper
{
    width: 160px;
    height: 90px;
    background-color: grey;
    border-radius: 16px;
    text-align: center;
    line-height: 90px;
    margin-bottom: 8px;
}

img.Thumbnail
{
    max-width: 160px;
    max-height: 90px;
    vertical-align: middle;
}

img.ThumbnailPlaceholder
{
    width: 32%;
    color: var(--color-fg);
}
