<!DOCTYPE HTML>
<html>
  <head>
    {% include 'includes.html' %}
    <title>MeTube -> Index</title>
  </head>
  <body>
    {% include 'include-nav.html' %}
    <ul class="VideoList">
      {% for video in videos -%}
      <li class="VideoListItem">
        {% if video.thumbnail_path %}
        <figure class="Thumbnail" style="background-image: url('{{ url_for(name='video_file', arg=video.thumbnail_path) }}');">
          {% else %}
        <figure class="Thumbnail ThumbnailFallback" style="background-image: url('{{ url_for(name='static', arg='film.svg') }}');">
          {% endif %}
          <a class="ThumbnailLink" href="{{ url_for(name='video', arg=video.id) }}">
            <div class="VideoThumbDuration">{{ video.duration_str }}</div>
          </a>
        </figure>
        <div class="VideoThumbInfo">
          <div class="VideoThumbTitleWrapper">
            <a class="VideoThumbTitle" href="{{ url_for(name='video', arg=video.id) }}">{{ video.title }}</a>
          </div>
          <div class="VideoMetaInfo">
            <div>{{ video.upload_time_utc_str }}</div>
          </div>
        </div>
      </li>
      {%- endfor %}
    </ul>
    {% include 'include-footer.html' %}
  </body>
</html>
